#b1 {
	background-color : #3fada8;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b2 {
	background-color : pink;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b3 {
	background-color : orange;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b4 {
	background-color : yellow;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b5 {
	background-color : green;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b6 {
	background-color : #148f77;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
#b7 {
	background-color : purple;
	height : 50px;
	width : 50px;
	border-radius : 5px;
	border : 2px solid black;
}
